@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --cor-background: #111;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--cor-background);
    color: #FFF;
    margin: 0;
    font-family: 'Roboto' 'sans-serif';
}